<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/9e06a98e89.js" crossorigin="anonymous"></script>

	<script defer src="js/post-actions/post-like.js"></script>
	<script defer src="js/post-actions/post-reply.js"></script>
	<script defer src="js/post-actions/post-retweet.js"></script>
	<script defer src="js/creating-posts.js"></script>
	<script defer src="js/script.js"></script>
	<link rel="stylesheet" href="css/screen.css">
	<title>{{pageTitle}}</title>
</head>
<body>
	{{#if showNav}}
	<script>
		const USER_LOGGED_IN = {{{userJS}}};
	</script>
	{{> nav}}

	<div class="main-wrapper col-10 col-md-8 col-lg-6">
		{{{body}}}
	</div>

	<div class="d-none d-md-block col-md-2 col-lg-4"></div>
	
	{{else}}
		{{{body}}}
	{{/if}}

	{{#if isHome}}
		{{> home-scripts}}
	{{/if}}
</body>
</html>